@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: black;
  font-size: 1rem;
  font-family: 'Crimson Text', serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.site-logo {
  display: block;
  width: 110px;
}

/* mainvisual */
#mainvisual {
  width: 90vw;
  margin: 4% auto 0 auto;
}
#mainvisual img {
  display: block;
}

/* header */
#header {
  width: 90vw;
  display: flex;
  align-items: center;
  padding: 30px 0;
  margin: 0 auto 20px auto;
}

#header ul {
  display: flex;
}

#header li {
  margin-left: 40px;
}

#header li a {
  display: block;
}
/* contents */
.container {
  margin: 0 2%;
}
.contents {
  display: flex;
  align-items: center;
  margin:0 auto 60px auto;
}
.contents img {
  width: 50%;
}
.text {
  width: 50%;
  padding: 0 7%;
}
.contents-title {
  line-height: 40px;
}

.contents-title-en {
  display: block;
  margin-bottom: 25px;
}
#work {
  flex-direction: row-reverse;
}
/* footer */
#footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  margin: 0 auto;
}

.copyright {
  font-size: 0.9rem;
}



@media screen and (max-width: 767px) {
  .wrapper {
    margin: 0
  }
  /* header */
  #mainvisual {
    margin: 0;
    width: 100vw;
  }
  #mainvisual img {
    height: 50vh;
    object-fit: cover;
  }
  .site-title {
    margin-right: 25px;
  }
  #header {
    padding: 20px 0;
  }
  #header li {
    margin-left: 25px;
  }
  /* container */
  .contents {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 10px 60px 10px;
  }
  #work {
    display: flex;
    flex-direction: column;
  }
  .contents img {
    width: 100%;
    margin-bottom: 10px;
  }
  .text {
    width: 100%;
    padding: 0
  }
}
